@charset "utf-8";
/* CSS Document */


.sub_container{width:1200px; margin:0 auto;	}
.sub_container .bg_img{background:url(../images/common/sub_bgimg.jpg) no-repeat right top; height:12px; padding-bottom:42px; cursor: auto;}

.sub_container .location{text-align:right; font-size:0; padding-bottom:11px;}
.sub_container .location li{display:inline-block; font-size:12px; background:url(../images/common/sub_next.jpg) no-repeat left top 1px; padding-left:12px; margin-left:8px;}
.sub_container .location li.first {background: none;}
.sub_container .sub_header{background:url(../images/sub01/sub_header.jpg) no-repeat left top; height:97px; margin-bottom:47px;}






.wrap .section {overflow: hidden; border-top: 2px solid #737373;}
.wrap .section div {float: left; width: 239px; border-right: 1px solid #cdcdcd;}
.wrap .section .content {position: relative; height: 372px;}
.wrap .section .content .img {margin-top: 25px; text-align: center;}
.wrap .section .content .text {margin-top: 15px; text-align: center;}
.wrap .section .content .text h4 {font-size: 15px; font-weight: 700;}
.wrap .section .content .text p {font-size: 12px; margin-top: 8px; margin-bottom: 15px;}
.wrap .section .content .text h5 {background-color: #000; color: #fff; display: inline; font-size: 15px; padding: 5px 15px; cursor: pointer;}
.wrap .section .content .text h5:hover {background: #fff; color: #474747; border: 2px solid;}
.wrap .section .content .more {position: absolute; right: 0; background-color: #000; width: 30px; cursor: pointer;}
.wrap .section.borderd {border-bottom: 2px solid #737373;}






.wrap .page {text-align: center; overflow: hidden; margin-top: 30px; margin-bottom: 30px;}
.wrap .page button {width: 40px; height: 40px; font-size: 12px; font-weight: 700; border: 1px solid #b4b4b4; color: #b4b4b4; line-height: 40px; margin: 0 8px; cursor: pointer;}
.wrap .page .on {background-color: #b4b4b4; color: #fff;}








/**/